@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url('./assets/bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;                                                                                                                 
    min-height: 100vh;;
}

#root{
    /* width: 100vw;*/
    min-height: 80vh; 
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

main{
    width: 100%;
    min-height: 90vh;
}